*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: black;
   font-family: Arial;
}

.flex{
   display: flex;
}

.fixed{
   position: fixed;
}

.relative{
   position: relative;
}

.absolute{
   position: absolute;
}

.margin-t{
   margin-top: 5px;
}



/* INIZIO HEADER */

header{
   justify-content: end;
}

.icon.header{
   display: inline-block;
   color: white;
   font-size: 18px;
   font-weight: 600;
   padding: 8px;
   margin: 10px 10px 0 0;
   line-height: 18px;
   border-radius: 8px;
}

.background.icon.header{
   background-color: rgb(74, 74, 74);
}
/* FINE HEADER */



/* INIZIO MAIN */

main{
   margin-top: 50px;
   justify-content: center;
   overflow: auto;
}

.main.container{
   width: 74%;
   height: auto;
   flex-wrap: wrap;
}

.cards{
   position: relative;
   height: auto;
}

img{
   max-width: 100%;
   margin: 0 5px;
}

.mute-name{
   width: 100px;
   height: 30px;
   line-height: 30px;
   padding-left: 4px;
   font-size: 14px;
   position: absolute;
   color: white;
   background-color: rgba(173, 173, 173, 0.5);
   bottom: 0;
   left: 0;
}
/* FINE MAIN */




/* INIZIO FOOTER */

footer{
   width: 100%;
   height: 80px;
   bottom: 0;
   margin-top: 50px;
   background-color: rgb(34, 34, 34);
   align-items: center;
   justify-content: space-between;
}

.icon, .text{
   color: white;
}

.icon{
   font-size: 30px;
}

.icon, 
.text{
   margin-top: 24px;
}

.box-left,
.box-center{
   height: 90%;
   flex-direction: column;
   margin-left: 20px;
}

.box-left a,
.box-center a{
   text-align: center;
}

.text{
   font-size: 15px;
}

.fa-chevron-up{
   font-size: 15px;
}

.box-chevron{
   margin-left: 20px;
   line-height: 80px;
}


.text.right{
   color: red;
   background-color: rgb(74, 74, 74);
   padding: 32px 18px;
}


/* PULSANTI */
.icon:hover{
   color: rgb(57, 255, 156);
}

.text.right:hover{
   background-color: rgb(222, 222, 222);
   cursor: pointer;
   font-weight: 800;
   font-size: 20px;
}

/* FINE FOOTER */
